*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  text-align: left;
}

:placeholder-shown{
  font-weight: 800;
  color: black;
  font-size: 15px;
}

.main{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 25px;
  padding: 1rem 1rem;
  top: 25%;
  width: 23%;
  height: 21rem;
  box-shadow: -1.9rem 1.3rem 6.2rem .7rem rgba(251, 24, 78, 0.47),
        1.9rem -1.3rem 6.2rem .7rem rgba(0, 85, 255, 0.47);
}

.calculator{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.heading{
  text-align: center;
  font-size: 1.5rem;
}

.operations{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.result{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.inputentry{
  width: 60%;
  padding: .4rem;
  border: 2px solid black;
}

.ops{
  width: 2.4rem;
  height: 2.4rem;
  font-weight: 800;
  border: 2px solid black;
  color: white;
  background-color: rgb(6, 6, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Error{
  color: red;
}

.Success{
  color: green;
}

.inputentry::placeholder {
  color: #363636;
}